nav {
    /* 가로 한 줄 전체 차지 100% 
    100% = 모바일 화면 모바일 화면 가로에 맞게 가로 전체 차지
           태블릿 화면 태블릿 화면 가로에 맞게 가로 전체 차지
           영화관 화면 영화관 화면 가로에 맞게 가로 전체 차지
    가로에서 네비게이션 몇 칸을 차지했으면 좋겠다 할 때는
    width: 50px; 50px px = 디지털에서 고정된 크기를 나타냄 cm 와 같은 느낌의 형태로 
    컴퓨터에서 한칸을 의미 
    고정적으로 사용할 때 px 
    네비게이션과 같은 형태는 100% % 내가 디바이스에서 몇 퍼센트 가로 차지할 것인가 사용
    */
    width: 100%;
    background-color: #333; /* 0 에 가까울 수록 검정 f에 가까울수록 흰색 */
    /*
    태그의 공간을 넓힐 때 사용    
    넓히겠다. 상하 1rem     좌우 0
    padding: 1rem            0; 
    1rem - 디바이스 기기 상황에 맞추어 유동적으로 위와 아래에 1씩 공간 키우겠다.
    크롬, 사파리의 경우 1rem = 16px 칸과 동일한 크기를 가짐

    휴대폰 글자를 크게 키우거나 작게 줄일경우 1rem 또한 키우거나 줄인 글자 형태에 맞추어
    칸의 크기도 축소

    어르신 핸드폰이 안보여서 설정 -> 글자 최대 크게 24px
    1rem = 24px
    */
    padding: 1rem 0; 
    text-align: center; /* 태그 안에 있는 글자들 모두 가운데 정렬 */
}
/*
nav a 
nav 라는태그 내부에 존재하는 a 태그에만 디자인을 적용하겠다.
띄어 쓰기로 구분한다.
*/
nav a { /* 글자 색상 하얗게 글자색 설정*/
    color: white;
    /* none = 꾸미기 제거 a 태그 밑에 자동으로 존재하는 밑줄 꾸미기 제거 */
    text-decoration: none;
}
/* :hover 태그 위에 마우스를 올렸을 때 변하는 글자 색상이나 배경색상 등 설정 */
nav a:hover {
    /* a 태그 위에 마우스를 올리면 글자 색상이 lightblue로 교체*/
    color: lightblue; 
    
    /* 
    위에는 왜 #333 이고 왜 lightblue 일까? 
    css 창시자가 전 세계 개발자들이 자주 사용하거나 사용하기 편리할 것 같은
    디자인 색상은 외우고 사용하기 쉽도록 단어 형태로 만들어둠

    lightblue = #add8e6 표기

    동일한 숫자나 문자가 연속으로 6번 올경우 3번작성으로 줄여서 작성 가능
    창시자가 영문명칭을 붙여주지 않음
    # hex 색상 디자인은 0 ~ f 로 이루어져 있음
    16진수로 되어있는 표기법 계산결과에 따라 지정
    검정              흰색
       0123456789abcdef
    #333333 = #333
    
    
    */
}
/*
글자 색상 #333
밑줄 제거

마우스 위로 올리면
글자 색상 lightpink 색상
배경 색상 lightblue 
*/
a{
color: #333;
text-decoration: none;
}
a:hover{
    color: lightpink;
background-color: lightblue; 
}