<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Musinsa Clone</title>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header">
        <h1>무신사 클론</h1>
    </header>

    <main class="container">
    <div class="product-list">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image }}">
            <h3>{{ product.title }}</h3>

            <!-- 달러 X → 원화 O -->
            <p>{{ product.price_krw }}원</p>

            <button onclick="location.href='/product/{{ product.id }}'">
                상세보기
            </button>
        </div>
        {% endfor %}
    </div>
</main>
</body>
</html>
