<!DOCTYPE html>
<html lang="ko">
    <!--
클라이언트 눈에 보이는 <> 태그 코드는 <body> 태그 내부에 작성
    클라이언트 눈에 직접적으로 보이지는 않지만 .html 파일을 꾸며줄 때 사용하는
    모든 태그는 head 태그 내부에 작성
    -->
<head>
    <meta charset="UTF-8"><!-- body 태그 내부에 작성한 한글 깨짐 방지-->
    <!-- 
    width =디바이스(모바일, 데스크톱, 태블릿 등) 가로 기준  100% 표준에 맞게 화면 보여주기
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 탭 제목 -->
    <title>소식지</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/공통스타일.css')}}">
   
</head>
<body>
    <h1>
        <a href="/">내 Flask 블로그</a>
    </h1>
    <nav>
        <a href="/">home</a>
        <a href="/about">About</a>
        <a href="/image">Image</a>
    </nav>
    <p>나의 블로그 입니다.</p>
    <h2>블로그 방문자 명단</h2>
    <h3>방문자 목록:</h3>
    {% for 방문자 in visitors %}
    <h4>{{방문자}}</h4>
    {% endfor %}
    <h3>방문 통계</h3>
    {% for 방문자정보 in visitor_info %}
    <span>{{방문자정보.name}}</span>
    <span>방문횟수 : {{방문자정보.count}}회</span>
    <br>
    {% endfor %}
    {% for 외부링크 in 외부링크리스트 %}
    <a href='{{외부링크.주소}}'>{{외부링크.도메인이름}}</a>
    {% endfor %}
</body>
</html>